{% extends 'news/iframe/layout.html.twig' %}

{%  block body %}
    <div class="row justify-content-center">
        {%  for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-exclamation"></i>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
   <div id="carouselNews" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
            {%  for news in newsEntity %}
                <div class="carousel-item {%  if loop.index0 == 0 %}active{% endif %}">
                    <div class="row">
                        {%  if news.refIdPriorite.refCode == "PH" %}
                            <div class="col col-12 text-center"><h4 style="color: tomato"><strong>{{ news.newsTitre }}</strong></h4></div>
                        {% else %}
                            <div class="col col-12 text-center"><h5><strong>{{ news.newsTitre }}</strong></h5></div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col col-2 text-center align-middle">
                            {%  if news.refIdPriorite.refCode == "PH" %}
                                <span class="align-middle" style="font-size: 3em; color: Tomato;">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            {% elseif news.refIdPriorite.refCode == "PN"  %}
                                <span class="align-middle" style="font-size: 3em; color: Dodgerblue;">
                                    <i class="fas fa-info"></i>
                                </span>
                            {% elseif news.refIdPriorite.refCode == "PF" %}
                                <span class="align-middle" style="font-size: 3em; color: cyan;">
                                    <i class="fas fa-newspaper"></i>
                                </span>
                            {% else %}
                                <span style="font-size: 3em; color: cyan;">
                                    <i class="fas fa-newspaper"></i>
                                </span>
                            {% endif %}
                        </div>
                        <div class="col col-9 news-content">
                            <div class="row">
                                <div class="col col-12 text-justify">{{ (news.newsContenu | u.truncate(250, '...')) | raw }}</div>
                            </div>
                        </div>
                        <div class="col col-1">
                            <div class="row">
                                {% if (news.newsPieceJointes|length)> 0 %}
                                    <span style="font-size: 3em; color: darkgrey;">
                                        <i class="fas  fa-file-download"></i>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselNews" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselNews" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
   </div>
    <div class="row">
        <ol class="carousel-indicators">
            {%  for news in newsEntity %}
                <li data-target="#carouselNews" data-slide-to="{{ loop.index0 }}" {%  if loop.index0 == 0 %}class="active"{% endif %}></li>
            {%  endfor %}
        </ol>
    </div>
{%  endblock %}
